{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background_change"></div>
<h1 class="display-5 mt-5 text-center text-light">Make Review</h1>
<div class="container">
    <div class="row bg-form text-light">
        <div class="col-md-6 mt-3 mb-3 offset-md-3">
            <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}               
                {{ form | crispy }}
                <button type="submit" class="btn btn-dark btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}