{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">            
            <div class="text-center my-2">
                <h1 class="logo-main home-name display-3 p-1 mt-5">AJK Furniture</h1>
             <button class="text-white btn-dark btn-signup btn-lg mb-3">Energize your decor</button>
            
            </div>        
        </div>
    </div>
</div>


{% endblock %}