{% load static %}

<!-- footer -->
<footer class=" footer mt-auto bg-footer text-center border border-top border-dark profile">
    <div class="container-fluid pt-0 profile-display">
        <div class="row align-items-center">
            <div class="col-md-4 news-div d-flex justify-content-center">
                <!-- newsletter mailchimp -->
                <div class="mb-0">
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=045424c0051a32d652a85c06b&amp;id=2acfb9940d&amp;f_id=00be5ae1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div class="d-flex">
                                <div id="mc_embed_signup_scroll">
                                    <h2>Newsletter</h2>
                                    <div class="mc-field-group">
                                        
                                        <input type="email" placeholder="Email Address" value="" name="EMAIL"
                                            class="required email" id="mce-EMAIL" required>
                                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_045424c0051a32d652a85c06b_2acfb9940d" tabindex="-1"
                                            value=""></div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" value="Subscribe" name="subscribe"
                                                id="mc-embedded-subscribe" class="btn btn-dark">
                                            <p class="brandingLogo"><a href="http://eepurl.com/itaCTs"
                                                    title="Mailchimp - email marketing made easy and fun"><img
                                                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp"></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>s
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <ul class="footer-list-links">
                    <li><a href="https://www.privacypolicygenerator.info/live.php?token=bhgYyOOi1GYjDM4XW8fWpwLQPtEZUson"
                            aria-label="Link to Privacy Policy" target="_blank" class="footer-item">Privacy Policy</a>
                    </li>
                    <li><a href="https://www.houzz.ie/" target="_blank" rel="noopener" class="footer-item">Houzz</a></li>               
                    <li><a href="{% url 'contact' %}" target="_blank" class="footer-item">Contact</a></li>
                </ul>
                <!-- Section: Social media -->
            </div>
            <div class="col-md-4">
                <!-- Section: Social media -->
                <div class="mb-0">
                    <!-- Facebook -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/profile.php?id=100093531144565"
                        aria-label="Follow us on Facebook" target="_blank" rel="noopener" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.Twitter.com"
                        aria-label="Link to Twitter" target="_blank" rel="noopener" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.Instagram.com"
                        aria-label="Link to Instragram" target="_blank" rel="noopener" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com"
                        aria-label="Link to Linkedin" target="_blank" rel="noopener" role="button"><i
                            class="fab fa-linkedin"></i></a>
                </div>
                <!-- Section: Social media -->
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright text-center site-color text-light p-1 align-items-center">
        <p>Copyright &copy;
            <span id="copyright"></span><a class="text-light footer-hover" href="https://github.com/andyk8872"
                target="_blank" rel="noopener"> Andrew Kennedy</a>
        </p>
    </div>
    <!-- Copyright -->
</footer>