<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>     
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Furniture
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>                
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Furniture</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="rooms-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rooms
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rooms-link">
                <a href="{% url 'products' %}?category=bedroom_suite" class="dropdown-item">Bedroom Suites</a>
                <a href="{% url 'products' %}?category=kitchen_suite" class="dropdown-item">Kitchen Suites</a>
                <a href="{% url 'products' %}?category=sofa" class="dropdown-item">Sofas</a>
                <a href="{% url 'products' %}?category=small_dining_table" class="dropdown-item">Small Dining Tables</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Sale - 10% Off</a>                
            </div>
        </li>     
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="reviews-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                {% if user.is_authenticated %}
                <a href="{% url 'show_review' %}" class="dropdown-item">View Product Reviews</a>
                <a href="{% url 'make_review' %}" class="dropdown-item">Make Product Review</a>
                {% else %}
                <a href="{% url 'show_review' %}" class="dropdown-item">View Product Reviews</a>
                {% endif %}                               
            </div>
        </li> 

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'contact' %}"
                id="contact-link">
                Contact Us
            </a>
        </li>      
    </ul>
</div>