{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background_change"></div>
<h1 class="display-5 mt-5 text-center text-light">Contact</h1>
<div class="container">
    <div class="row bg-form text-light">
        <div class="col-md-6 mt-3 mb-3 offset-md-3">
            <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.subject|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.message|as_crispy_field }}
                </div>
             
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="text-right">
                    <a class="btn btn-warning rounded-0" href="">Cancel Request</a>
                    <button class="btn btn-danger rounded-0" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}